@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bg-color: #fdffff;
    --heading-color: #334a00;
    --body-color: #111;
    --link-color: #3e8b21;
    --link-hover-color: #e1f6da;
    --quiet-color: #555;
}

::selection {
  background: var(--link-color);
  color: var(--bg-color);
}

html {
    font-size: 62.5%;
	background-color: var(--bg-color);
}

body {
    font-size: 1.6rem;
	font-family: 'Noto Sans', sans-serif;
	color: var(--body-color);
	background-color: var(--bg-color);
}

header {
    border-bottom: 0.3rem solid var(--link-color);
	color: var(--heading-color);
}

nav {
    text-align: right;
	font-family: 'Noto Sans', sans-serif;
	color: var(--heading-color);
}


a {
	color: var(--link-color);
	text-decoration: none;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
	transition-property: color, background-color;
	transition-timing-function: linear;
}

a:hover {
	background: var(--link-hover-color);
	text-decoration: underline;
}

a:active {
	background-color: var(--link-color);
	color: var(--bg-color);
}

nav a {
    font-size: 1.8rem;
    font-weight: bold;
	color: var(--heading-color);
    text-decoration: none;
    /* text-transform: uppercase; */
}

nav a:hover{
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
	background: var(--link-hover-color);
}

nav a:active{
    font-weight: bold;
	color: var(--bg-color);
    background: var(--heading-color);
    text-decoration: none;
    /* text-transform: uppercase; */
}

footer {
    margin-top: 3rem;
    padding: 1.2rem 0;
    border-top: 0.3rem solid var(--link-color);
    font-size: 1.2rem;
    color: var(--quiet-color);
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans', sans-serif, bold;
	color: var(--heading-color);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    font-style: italic;
}

article .header {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--quiet-color);
}

.logo a {
    font-size: 1.8rem;
    font-weight: bold;
	color: var(--heading-color);
    text-decoration: none;
}

.logo a:hover{
    font-weight: bold;
	color: var(--heading-color);
    text-decoration: none;
	background: var(--link-hover-color);
}

.logo a:active{
    font-weight: bold;
	color: #FFFFF6;
    background: var(--heading-color);
    text-decoration: none;
}


@media (max-width: 319px) {
    body {
        width: 90%;
        margin: 0;
        padding: 0 5%;
    }
    header {
        margin: 4.2rem 0;
    }
    nav {
        margin: 0 auto 3rem;
        text-align: center;
    }
    footer {
        text-align: center;
    }
    .logo {
        text-align: center;
        margin: 1rem auto 3rem;
    }
    .logo a {
        font-size: 2.4rem;
    }
    nav a {
        display: block;
        line-height: 1.6;
    }
}

@media (min-width: 320px) {
    body {
        width: 90%;
        margin: 0;
        padding: 0 5%;
    }
    header {
        margin: 4.2rem 0;
    }
    nav {
        margin: 0 auto 3rem;
        text-align: center;
    }
    footer {
        text-align: center;
    }
    .logo {
        text-align: center;
        margin: 1rem auto 3rem;
    }
    .logo a {
        font-size: 2.4rem;
    }
    .logo a {
        font-size: 2.4rem;
    }
    nav a {
        display: inline;
        margin: 0 0.6rem;
    }
}

@media (min-width: 640px) {
    body {
        width: 60rem;
        margin: 0 auto;
        padding: 0;
    }
    header {
        margin: 0 0 3rem;
        padding: 1.2rem 0;
    }
    nav {
        margin: 0;
        text-align: right;
    }
    nav a {
        margin: 0 0 0 1.2rem;
        display: inline;
    }
    footer {
        text-align: right;
    }
    .logo {
        margin: 0;
        text-align: left;
    }
    .logo a {
        float: left;
        font-size: 1.8rem;
    }
}

img{
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
    font-style: italic;
}

.headerimg {
    width: 90%;
}
