---
title: Home
---

<p>Hi! I&rsquo;m Tim* Gadanidis (/tɪm ˌgædəˈnidɪs/). I&rsquo;m a PhD candidate
in the <a href="https://linguistics.utoronto.ca">Department of Linguistics</a>
at the University of Toronto.
I do sociolinguistics, discourse analysis, and computational linguistics &mdash;
I love to mix quantitative and qualitative methods!
My dissertation is about the discourse of restaurant servers' narratives of
personal experience, which you can read more about <a href="research.html">on
    the research page</a> if you&rsquo;re so inclined.</p>

<p><a href="https://gitlab.com/gadanidis/cv/-/jobs/artifacts/master/raw/cv.pdf?job=compile_pdf">You can download my CV here.</a></p>

<p>* <em>People who know me in person typically say &ldquo;Tim&rdquo;, but for
    my academic output, I sometimes go by Timothy, too &mdash; I have embraced
    variation by flipping a coin when I submit a paper or abstract,
    &ldquo;Tim&rdquo; for heads and &ldquo;Timothy&rdquo; for tails.</em></p>

<h2>Contact and social media</h2>

<ul>
    <li>Personal email: <a href="mailto:tim@gadanidis.ca">tim@gadanidis.ca</a></li>
    <li>Institutional email: <a href="mailto:timothy.gadanidis@mail.utoronto.ca">timothy.gadanidis@mail.utoronto.ca</a></li>
    <li>Twitter: <a href="https://twitter.com/tgadanidis">@tgadanidis</a></li>
    <li>Mastodon: <a href="https://post.lurk.org/@nth_order_index" rel="me">@nth_order_index@post.lurk.org</a></li>
    <li>GitLab: <a href="https://gitlab.com/gadanidis">@gadanidis</a></li>
</ul>

Please note that the publication of my contact information here should not be taken as implied consent for electronic commercial messages (CEMs) under <a href="https://crtc.gc.ca/eng/internet/anti.htm">Canada's Anti-Spam Legislation</a>. Please do not send me any unsolicited commercial messages.

<h2>Recent blog posts</h2>

<p>$partial("templates/post-list.html")$</p>
